<% provide(:title, 'Patient record') %>
<h3>Specify your name and illness</h3>

<div class="form-group" align="left">    
    <%= form_for(@patient) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :number %>
      <%= f.text_field :number, class:"form-control"  %>

      <%= f.label :illness %>
      <%= f.text_field :illness, class:"form-control"  %>  

      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


