
<div class="form-signin" align="left"><h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder:"Email id",autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder:"password", input_html: {autocomplete: 'off'} %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      Remember me
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>