<% provide(:title, 'Sign up') %>
<h3>Register</h3>

<div class="column">
  <div class="form-group">
    <%= form_for(@doctor) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>

      <%= f.label :designation %>
      <%= f.text_field :designation, class:"form-control"  %>

      <%= f.time_select :timing,
{ampm: true,
ignore_date: true,
start_hour: 10, 
end_hour: 18,
discard_minute: true,
prompt: true,
prompt: { hour: "Choose hr" }
} %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>