<% provide(:title, 'Appointment record') %>
<h1>Request an Appointment</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment) do |f| %>
      <%= f.label :date %>
      <%= f.time_field :date, placeholder: "select appointment slot..." %>      


      <p><%= f.label :doctor_id %>
      Doctor: 
      <%#= f.select :, Doctor.all %> 
      <%#= select_tag "doctor_id", options_from_collection_for_select(Doctor.all, "id", "name"), include_blank: true %>
      <%= f.number_field :doctor_id %>

      </p>
    

  
      <%= f.hidden_field :patient_id, value: params[:patient_id] %>
  
     

      <div class="field">
        <%= f.label "confirmed" %> <br />
        <%= f.check_box :completed %> <br />
      </div>

      <%= f.submit "Create an appointment", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


