<% provide(:title, 'Appointment record') %>
<h3>Request an Appointment</h3>

<div class="column">
  <div class="form-group">
    <%= form_for(@appointment) do |f| %>
     <strong>Time:</strong>
   
      <%= f.time_field :date, placeholder: "select appointment slot..." %>    
      <strong>Select doctor:</strong>
      <%= f.select(:doctor_id, options_for_select(Doctor.all.pluck(:id))) %>
    
      <%= hidden_field_tag :patient_id, @patient.id %><br>
       <p>
      <%= f.submit "Request an appointment", class: "btn btn-primary" %>
      </p>
      
    <% end %>
  </div>
</div>


<div class="table-responsive">          
 <table class="table table-bordered"> 
  <thead>
    <tr>
      <th> Doctor Name</th>
      <th>ID</th>
      <th>Specialization</th>
      <th colspan="3"></th> 
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.name %></td>
        <td><%= doctor.id %></td>
        <td><%= doctor.designation %></td>
      </tr>
    <% end %>
  </tbody>
</table>