<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @appointment.date.try(:strftime, '%c') %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Doctor ID:</strong>
  <%= @appointment.doctor_id %>
</p>

<p>
  <strong>Doctor Name:</strong>
  <%= @doctor.name %>
</p>
<p>
	<strong>Appoimtment Status:</strong>
	<%= human_boolean(@appointment.completed) %>
</p>

<div class="col-md-8">
  <% unless current_user.admin? %>
    <% if @appointment.completed == true %>
      <ol class="appointments">
      <%= link_to 'Make secure payment', new_checkout_path %>
      </ol> 
    <% end %> 
  <% end %> 
</div>


